// === COLORS ===
$primary-color: white;
$secondary-color: black;
$navigation-background: black;

// === FONTS ===
$font-primary: 'Roboto', sans-serif;
$font-secondary: "Playfair Display",serif;
$paragraph-font: 14px;
$title-font: 2.5em;

// === PADDING AND MARGINS ===
$standard-padding: 1.1em;
$standard-margin: 2em;
$body-margin: 0;
$body-padding: 0;

// === HEADER ===
$header-background: url(../imgs/header-bg-desktop.jpg) center top no-repeat;
$header-width: 100%;
$header-height: 100vh;