// === COLORS ===
$primary-color: white;
$navigation-background: black;

// === FONTS ===


// === PADDING AND MARGINS ===
$standard-padding: 1.1em;
$standard-margin: 2em;
$body-margin: 0;
$body-padding: 0;

// === HEADER ===
$header-background: url(../imgs/header-bg-desktop.jpg) center top no-repeat;
$header-width: 100vw;
$header-height: 100vh;